.SatelliteSearchBox {
    background: #ffffff;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1.5em;
    left: 50%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}